.header {
    margin-bottom: 20px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bars {
    margin-left: 20px;
    visibility: hidden;
}

.login-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.menu-area {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li {
    padding: 10px;
}

.menu-search {
    border-bottom: 1px solid black;
    padding: 5px;
    position: absolute;
    right: 20px;
}

.menu-search input {
    border: none;
    margin-left: 5px;
}

.side-menu {
    background-color: beige;
    height: 100%;
    width: 250px;
    left: 0;
    overflow-x: hidden;
    /*display: none;*/
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: 0.5s;
    z-index: 2;
}

.side-menu .close-button {
    background: none;
    border: none;
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
    top: 0;
}

.side-menu-list {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.side-menu-list button {
    background: none;
    border: none;
    margin: 5px;
    width: 120px;
}

@media (max-width: 1010px) {
    .menu-bars {
        visibility: visible;
    }

    .menu-area {
        display: none;
    }
}


.card {
    border: none !important;
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.product-img {
    display: flex;
    justify-content: flex-end;
}

.drop-down {
    margin-top: 20px;
}

.product-info {
    font-size: 20px;
    margin-bottom: 20px;
}

.add-btn {
    width: 100%;
    margin-top: 20px;
}